* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/img1.jpg) no-repeat fixed center center #A4A4A4;
}

header {
    background: #000000;
    color: aliceblue;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid crimson;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
}

.contenedor {
    padding: 30px;
    justify-content: space-between;
    margin: 90px;
    
}

.valor {
    padding: 10px;
}

.btn-enviar {
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}